body{
 color: 000;
}


.information{
	border: 2px solid;
	border-radius: 25px;
	padding: 0 2em;
}

.information p{
	font-size: 1.5em;
}

.play-button{
	width: 200px;
	margin: 20px auto;
}

.submit-button{
	width: 195px;
	margin: 0px auto;
}

#loader {
	width: 100%;
	padding-top: 125px;
	text-align: center;
}

#time-container{
	height: 200px;
	width: 195px;
	margin: 0 auto;
}

#time-container p{
	font-size: 2em;
	color: rgb(55, 96, 146);
}

#comic-wrapper{
	margin: 10px auto;
	width: 840px;
	height: 440px;
	border: 2px solid;
	border-radius: 20px;
}

#game-wrapper{
	width: 840px;
	margin: 0 auto;
}

#comic{
	width: 800px;
	height: 400px;
	margin: 20px;
}

#math-wrapper{
	height: 300px;
	border: 2px solid;
	border-radius: 20px;
}

#question{
	height: 150px;
}

#answer{
	margin: 0 70px;
}

#incorrect-answer{
	margin: 0 auto;
	height: 100px;
	width: 100px;
}

#end-score{
	font-size: 50px;
	color: rgb(55, 96, 146);
}