body{
 color: 000;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.information{
	border: 2px solid;
	border-radius: 25px;
	padding: 0 2em;
}

.information p{
	font-size: 1.5em;
}

.play-button{
	width: 200px;
	margin: 20px auto;
}

.canvas-wrapper{
	
}

.canvas-border{
	margin: 0 auto;
	padding: 20px;
	width: 840px;
	height: 540px;
	border: 2px solid;
	border-radius: 20px;
}